<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,286},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,286},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,286},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,286},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,286},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,286},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,570},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,570},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,570},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
            <key>image 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,570},{242,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{242,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thunder.png</string>
            <key>size</key>
            <string>{1710,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74094dd6cec55c67f36b40c81bb3226c:c8af4b000205ae6c07c4cff59b4d15cf:b2069637168e2661cd449291833d39bb$</string>
            <key>textureFileName</key>
            <string>thunder.png</string>
        </dict>
    </dict>
</plist>
