<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thunder1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
            <key>thunder10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
            <key>thunder11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
            <key>thunder2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
            <key>thunder3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
            <key>thunder4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,253},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
            <key>thunder5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,253},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
            <key>thunder6.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,253},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
            <key>thunder7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
            <key>thunder8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,504},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
            <key>thunder9.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,504},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wuleizhou.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b3d33f726d59b01bf413fb4e23671f8:61ec44c986e1e6cec1e69ba419553f97:8c63ad830ba95090e30a991b7aca6d5f$</string>
            <key>textureFileName</key>
            <string>wuleizhou.png</string>
        </dict>
    </dict>
</plist>
