<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>attack0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,83}</string>
				<key>spriteSourceSize</key>
				<string>{192,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>attack0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,83}</string>
				<key>spriteSourceSize</key>
				<string>{192,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>attack0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,83}</string>
				<key>spriteSourceSize</key>
				<string>{192,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,0},{192,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>attack0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,83}</string>
				<key>spriteSourceSize</key>
				<string>{192,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,0},{192,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>attack0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,83}</string>
				<key>spriteSourceSize</key>
				<string>{192,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,83},{192,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>attack0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,83}</string>
				<key>spriteSourceSize</key>
				<string>{192,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,83},{192,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>attack0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,83}</string>
				<key>spriteSourceSize</key>
				<string>{192,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,83},{192,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>attack0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,83}</string>
				<key>spriteSourceSize</key>
				<string>{192,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,83},{192,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>attack0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,83}</string>
				<key>spriteSourceSize</key>
				<string>{192,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,166},{192,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>attack0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,83}</string>
				<key>spriteSourceSize</key>
				<string>{192,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,166},{192,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>run0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,85}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{111,85}</string>
				<key>spriteSourceSize</key>
				<string>{111,85}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,0},{111,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>run0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,85}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{111,85}</string>
				<key>spriteSourceSize</key>
				<string>{111,85}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,0},{111,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>run0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,85}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{111,85}</string>
				<key>spriteSourceSize</key>
				<string>{111,85}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,85},{111,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>run0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,85}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{111,85}</string>
				<key>spriteSourceSize</key>
				<string>{111,85}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,85},{111,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>run0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,85}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{111,85}</string>
				<key>spriteSourceSize</key>
				<string>{111,85}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,166},{111,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>run0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,85}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{111,85}</string>
				<key>spriteSourceSize</key>
				<string>{111,85}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,166},{111,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>run0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,85}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{111,85}</string>
				<key>spriteSourceSize</key>
				<string>{111,85}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,249},{111,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>run0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,85}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{111,85}</string>
				<key>spriteSourceSize</key>
				<string>{111,85}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,249},{111,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{273,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{273,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{273,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{273,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{273,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{273,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{273,413},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{402,170},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{402,170},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{402,170},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{402,170},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{402,170},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{402,170},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{402,170},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{309,251},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{309,251},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{309,251},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{309,251},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{309,251},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{309,251},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{309,251},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,253},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,253},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,253},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,253},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,253},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,253},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,253},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,336},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,336},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,336},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,336},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,336},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0040</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,336},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0041</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,336},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0042</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,419},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0043</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,419},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0044</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,419},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0045</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,419},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0046</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,419},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0047</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,419},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>standby0048</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,83}</string>
				<key>spriteSourceSize</key>
				<string>{75,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,419},{75,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,334},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,334},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,334},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,415},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,415},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,415},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{99,334},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{99,334},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{99,334},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{111,251},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{111,251},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{111,251},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{99,415},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{99,415},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{99,415},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,332},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,332},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{198,332},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{210,251},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{210,251},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{210,251},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{303,170},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{303,170},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{303,170},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,334},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>walk0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,81}</string>
				<key>spriteSourceSize</key>
				<string>{99,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,334},{99,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>zhuge.png</string>
				<key>textureFileName</key>
				<string>zhuge</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
