<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{197,268}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{197,268}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1006},{179,202}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,45},{179,202}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1187},{185,210}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,41},{185,210}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1374},{189,216}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,38},{189,216}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,679},{183,202}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{183,202}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1087},{175,202}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,42},{175,202}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,251},{181,212}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,45},{181,212}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{207,242}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{207,242}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{213,250}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{213,250}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,883},{175,202}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,52},{175,202}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1295},{199,232}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{199,232}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,296}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1493},{177,198}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,52},{177,198}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1693},{163,188}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{163,188}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1473},{169,194}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,55},{169,194}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,469},{177,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,46},{177,208}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1055},{203,238}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{203,238}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1565},{185,216}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,39},{185,216}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1291},{173,200}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,44},{173,200}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,465},{176,203}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{176,203}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,554},{196,225}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{196,225}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{208,239}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{208,239}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,300},{175,252}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{175,252}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 51.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{212,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,247}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 53.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,254},{184,213}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{184,213}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1529},{198,231}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{198,231}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1858},{128,189}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,28},{128,189}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1669},{164,189}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{164,189}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 61.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,670},{172,203}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{172,203}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{196,231}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{196,231}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 65.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,781},{192,223}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{192,223}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 67.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1071},{176,197}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{176,197}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 69.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1270},{172,201}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{172,201}}</string>
                <key>sourceSize</key>
                <string>{212,247}</string>
            </dict>
            <key>image 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1752},{161,192}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,53},{161,192}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
            <key>image 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,875},{175,194}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,45},{175,194}}</string>
                <key>sourceSize</key>
                <string>{227,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wujibati.png</string>
            <key>size</key>
            <string>{777,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32881d2c89f44c4c7b396e116e384c9a:4e349f3143a298849e8c367686afd029:eb65a5a12f6e57017cc415d6a94de388$</string>
            <key>textureFileName</key>
            <string>wujibati.png</string>
        </dict>
    </dict>
</plist>
