<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feiyu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,162},{170,224}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,224}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,334},{172,224}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,224}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{150,188}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,32},{150,188}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{154,194}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{154,194}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{158,202}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{158,202}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{160,208}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{160,208}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,158},{164,218}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{164,218}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,334},{174,220}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{174,220}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,324},{170,214}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{170,214}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{170,204}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{170,204}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,324},{170,192}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{170,192}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,162},{168,186}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,33},{168,186}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,154},{162,186}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,33},{162,186}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,178}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,41},{146,178}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>feiyu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{146,180}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,39},{146,180}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feiyunan.png</string>
            <key>size</key>
            <string>{1066,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:844fc547a5e8f57565eb5baae721b093:049fce46d2e1a3715251859bd6ff2884:efd044406cac2be1d9c41a759575e2c6$</string>
            <key>textureFileName</key>
            <string>feiyunan.png</string>
        </dict>
    </dict>
</plist>
