<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,78},{48,44}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{48,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{76,72}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{76,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{76,74}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{78,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{78,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{78,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{78,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{78,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{68,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{68,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{80,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{80,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{76,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{76,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{76,74}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{76,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,2},{76,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{76,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,62},{78,58}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,2},{70,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{70,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{78,58}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,2},{78,58}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,62},{66,60}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{66,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,2},{62,58}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{62,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,62},{58,58}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{58,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2},{72,70}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{72,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{74,70}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{74,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poison_fog.png</string>
            <key>size</key>
            <string>{2036,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b21483be6092553ab5f53af5b4df5f6:7d334252b432425c722f6600fe601641:25cdc0a4ed06872e6e56183d0fc1f431$</string>
            <key>textureFileName</key>
            <string>poison_fog.png</string>
        </dict>
    </dict>
</plist>
