<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangfeihu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{147,185}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{147,185}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{145,185}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{145,185}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,145},{141,177}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{141,177}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,151},{149,181}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{149,181}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{155,185}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{155,185}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{157,183}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,159},{157,179}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{157,179}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu15.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{155,177}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{155,177}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu16.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,149},{149,179}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{149,179}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,149},{143,181}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{143,181}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{141,183}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{141,183}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,2},{141,179}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{141,179}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{143,181}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{143,181}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,145},{143,177}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{143,177}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu21.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{145,179}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{145,179}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu22.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,149},{147,181}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{147,181}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu23.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,159},{149,183}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{149,183}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{137,179}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{137,179}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,2},{133,181}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{133,181}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,137},{129,185}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{129,185}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,137},{127,187}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{127,187}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,141},{131,185}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{131,185}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,141},{133,181}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{133,181}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
            <key>huangfeihu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,2},{133,177}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{133,177}}</string>
                <key>sourceSize</key>
                <string>{157,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangfeihu.png</string>
            <key>size</key>
            <string>{1995,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfd05350459b19b0c072a7d37721e1fb:f698f6d0dabdffaa56c3a133a5d19b36:248e6c71fc9c3145cd9dee808fda166d$</string>
            <key>textureFileName</key>
            <string>huangfeihu.png</string>
        </dict>
    </dict>
</plist>
